DEPLOYER_PRIVATE_KEY=
ROBINHOOD_TESTNET_RPC=https://rpc.testnet.chain.robinhood.com
ROBINHOOD_MAINNET_RPC=https://rpc.mainnet.chain.robinhood.com
ETHERSCAN_API_KEY=

VAULT_MANAGER=0x73a805Ffdefe8cC514238f68BC9400a884945bCa
PLEDGE_ORACLE=0x5eF13a368Cc96e3f324a79cBEf5a9Cd81eA1Efdf
USDG_TOKEN=0xF10AA239c709025238F2181812330Ba706ecA9E7
MNVDA_TOKEN=0x635d4c04cAB57B5a1f5753862c8E2A4f3d1C7c5f

# Optional mainnet Chainlink feed overrides
# CHAINLINK_NVDA_FEED=
# CHAINLINK_SPY_FEED=
